@import "../../_globalStyle/var_";



.normalBtn{
  display: block;
  width: 100%;
  height: 36px;
  background-color: $buttonDefault;
  border-radius: 4px;
  color: white;
  border: 0;
  transition: .3s all ease;
  &:hover{
    background-color: $buttonHover;
  }
  &:disabled{
    background-color: $buttonDisabled;
  }
}

.backBtn{
  @extend .normalBtn;
  border: 1px solid $buttonDefault;
  background-color: white;
  color: $buttonDefault;
  &:hover{
    background-color: $buttonHover;
    color: white;
  }
}

//Desktop
@media screen and ( min-width: $breakPoint){
  .buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto 0;
    width: 502px;
  }
  .buttonArea{
    width: 140px;
    margin: 0 .5rem;
  }
}

//Mobile
@media screen and ( max-width: $breakPoint){
  .buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 144px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 20px 4px rgba(0,0,0,.15);

  }
  .buttonArea{
    width: 328px;
    padding: 0 1rem;
    margin: .3rem 0;
  }
  .normalBtn{
    height: 44px;
  }
}